# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*build-*/**/Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

#---- Created by https://www.gitignore.io/api/codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend

# generated directories
bin/
obj/

#---- End of https://www.gitignore.io/api/codeblocks

# Guards for solution files and folders
**/*-p.[ch]
**/*-p.[ch]pp
**/*-p.inc
**/prof/**
